# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
server/lib/CloudFunctions.go
.idea/workspace.xml
.idea/encodings.xml
server/lib/CloudFunctions.go
.idea/vcs.xml
.idea/CloudStorage.iml
.idea/modules.xml
.idea/misc.xml
teste.go
